<div class="page-header">
  <h1>Members</h1>
</div>

<p>
  <span class="badge">Download:</span>
  <%= link_to "CSV", members_path(format: "csv") %> |
  <%= link_to "Excel", members_path(format: "xls") %>
</p>

<div class="table-responsive">
  <table id="members" class="table table-bordered table-striped table-condensed table-hover" data-source="<%= members_url(format: "json") %>">
    <thead>
      <tr>
        <th>First Name</th>
        <!-- <th>Middle Name</th> -->
        <th>Last Name</th>
        <!-- <th>Suffix</th> -->
        <!-- <th>Occupation</th> -->
        <!-- <th>Member Number</th> -->
        <th>Address</th>
        <!-- <th>Address 2</th> -->
        <th>City</th>
        <th>State</th>
        <!-- <th>Zip</th> -->
        <!-- <th>Country</th> -->
        <!-- <th>Email</th> -->
        <!-- <th>Phone</th> -->
        <!-- <th>Phone Wk</th> -->
        <!-- <th>Employer</th> -->
        <!-- <th>Activity Code</th> -->
        <th>Expiration Date</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Senate Dist.</th>
        <th>Senate Name</th>
        <th>Senate Phone</th>
        <th>Rep. Dist.</th>
        <th>Rep. Name</th>
        <th>Rep. Phone</th>
        <th>Actions</th>
        <!-- <th></th>
        <th></th> -->
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<br>

<%= link_to "New Member", new_member_path, class: "btn btn-primary" %> | <%= link_to "Import Members", '#', class: "btn btn-success" %>

<br><br>

<h2>Import Members</h2>

<%= form_tag import_members_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>








